{% extends 'layout.html' %}

{% block main %}
<section class="hero is-warning">
    <div class="hero-body has-text-centered">
      <p class="title">
        Oops... Something went wrong! (500)
        We're experiencing some trouble. Please try again later.
      </p>
      <p class="subtitle">
        <button class="button is-warning is-light mt-5">
          <a href="{{ url_for('main.index') }}">
            Back to Home
          </a>
        </button>
      </p>
    </div>
  </section>
{% endblock %}